---
import config from "@/config/config.json";
import { markdownify } from "@/lib/utils/textConverter";

const { copyright } = config.params;
---

<footer style="background:#111111;">
  <img src="/petice-sailny/images/tramvaj-pattern-tmave.svg" alt="" style="display:block; width:100%; height:120px; object-fit:cover; object-position:left center;" />
  <div class="container py-5">
    <p class="text-right text-sm text-white/40" set:html={markdownify(copyright)} />
  </div>
</footer>
